.sidebar {
    width: 15%;
    position: fixed;
    background: #37474F;
    border: 1px solid black;
    height: 100vh;
}

.main-content
{
    width: 85%;
    margin-left: 16%;
    margin-top: 10px;
    margin-right: 10px;
}