button.search-pharmacy-button:hover {
    background: #cfa610 !important;
    cursor: pointer;
}

.search-pharmacy {
    background: linear-gradient( 
0deg
 ,#9acdcb,hsla(0,0%,100%,.7529411764705882));
    border-radius: 5px;
}