.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.mr-5 {
 margin-right: 5px;
}

.mr-15 {
margin-right: 15px;
}

.mt-15 {
margin-top: 15px;
}

.mb-15 {
margin-bottom: 15px;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.p-15 {
  padding: 15px;
}
.pw-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}