.general-search{
    background-color: rgb(49, 49, 49);
    .main{
        position: relative;
        margin: 0 auto;
        width: 1280px;
        .container-search{
            display: flex;
            align-items: center;
            .search-nav{
                display: flex;
                width: 25%;
                flex-wrap: wrap;
                flex-direction: row;
                text-align: center;
                .search-city {
                    width: 50%;
                    #select-format{
                        width: 150px;
                        border-radius: 10px;
                        padding: 5px;
                        margin: 5px;
                        height: 35px;
                    }
                }
                .search-district{
                    width: 50%;
                    #select-format{
                        width: 150px;
                        border-radius: 10px;
                        padding: 5px;
                        margin: 5px;
                        height: 35px;
                    }
                    
                }
            
            }
            .input-search{
                display: flex;
                width: 60%;
                #input-format{
                    width : 100%;
                    margin : 5px;
                    padding : 9px;
                    border-radius: 10px;
                }
                .button-search-inline{
                    padding-left: 30px;
                    padding-right: 30px;
                    border-radius: 10px;
                    background-color: #fff;
                    position: relative;
                    left: -77px;
                    margin: 7px -70px 5px 0px;
                    background-color: rgb(8, 230, 8);
                    cursor: pointer;
                }
            }
            .div-button-search{
                width: 15%;
                text-align: right;
                margin-right: 8px;
                .button-search{
                    width: 100%;
                    padding: 6px;
                    background-color: aqua;
                    border-radius: 10px;
                }
                i{
                    font-size: 20px;
                }
                .button-search:hover{
                    background-color: rgb(45, 45, 248);
                    color: #fff;
                }
            }
        }
    }
    option{
        font-size: 15px;
    }
}