.add-user{
    .infor-owner{
        background-color: #fff;
        border-bottom: 2px dashed;    
        padding: 10px;
        .accept-refuse{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            button{
                border: none;
                background-color: #fff;
            }
            .icon{
                font-size: 50px;
                cursor: pointer;
                margin-bottom: 10px;
            }
            .accept:hover{
                color: rgb(17, 207, 17);
                
            }
            .refuse:hover{
                color: red;
            }
        }
    }
    .account-owner{
        background-color: #fff;
        padding: 10px;
        .add-user-account{
            text-align: center;
            .btn-add-user{
                border-radius: 6px;
                padding: 10px;
                cursor: pointer;
                font-size: 15px;
                align-items: center;
            }
            .btn-add-user:hover{
                background-color: blue;
                color: #fff;
            }
        }
    }
}

.form-input{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    padding-left: 35px;
    .label-infor{
        width: 25%;
        margin-top: 6px;
        label {
            padding: 12px 12px 12px 12px;
            display: inline-block;
        }

    }
    .input-infor{
        width: 75%;
        margin-top: 6px;
        input[ type = text ], input[ type = number ], input[ type = email ], input[ type = password ]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        select{
            width: 93%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            option{
                font-size: 15px;
            }
        }
        
        
    }
    
}