.cooperate-item {
    width: 20%;
    height: 120px;
    padding: 5px;
}

.cooperate-item img {
    height: 100%;
    width: 100%;
}

.cooperate-title h2 {
    text-transform: uppercase;
}

.cooperate-title {
    font-family: sans-serif;
    color: #20208d;
}