.service-growUp{
    margin : 10px 0px;
    .title-growUp{
        border-left: 5px solid rgb(5, 105, 185);
        background-color: rgb(81, 224, 81);
        padding: 20px 0px;
        width: 98%;
        border-radius: 10px;
        h1{
            color: rgb(5, 105, 185);
        }
        .spn{
            text-align: center;
            font-style: italic;
            font-weight: 600;
        }
    }
    .grow-up{
        display: flex;
        .right-text{
            margin: 0px 10px 10px;
            h1{
                color:rgb(5, 105, 185)
            }
            span{
                font-style: italic;
            }
        }
    }
    button{
        background-color: rgb(2, 224, 224);
        width: 95%;
        text-align: center;
        font-size: 40px;
        font-style: italic;
        margin: 30px;
        cursor: pointer;
        box-shadow: 6px;
        box-shadow: 6px 6px 6px;
        padding: 10px;
        border-radius: 10px;
    }
    button:hover{
        background-color: rgb(160, 255, 160);
        box-shadow: 20px 20px 20px;
    }
}