
.chart .fill {
    height: 100%;
    background-color: green;
    border-radius: 6px;
    transition: 1.2s;
}

.chart .contain {
    height: 11px;
    background-color: #dd9a9a;
    margin: 0 0 6px;
    border-radius: 6px;
    margin: 5px 0px 5px 0px;
}

.pharmacy-image-right-bottom {
    width: 50%;
    background: beige;
}

.pharmacy-image-right-top {
    width: 100%;
    background: blue;
}

.pharmacy-image-right {
    width: 40%;
    background: radial-gradient(black, transparent);
    display: flex;
    flex-wrap: wrap;
}

.pharmacy-image-left {
    width: 60%;
    background: rebeccapurple;
}

.image-wrap {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.pharmacy-image {
    /* display: none; */
    /* visibility: hidden; */
    height: 100%;
    width: 100%;
    border: solid gray;
    box-sizing: border-box;
}

pharmacy-image {
    position: relative;
}

.pharmacy-image-list {width: 100%;display: flex;}

.pharmacy-detail-content {
    max-width: 1280px;
    margin: auto;
}

*, :after, :before, body {
    max-width: 100vw;
    margin: 0;
}

.text-bold {
    text-align: center;
}

.rate.text-color-theme {
    font-size: 50px;
}

.pharmacy-statistic.flex-center {
    display: flex;
}

.d-flex {
    display: flex;
}

.pharmacy-statistic {
    width: 40%;
}

.chart {
    width: 60%;
    margin-left: 15px;
}

.form-row {
    margin: 15px 0px;
}

.pharmacy-frame {
    display: flex;
}

.page-section {
    background: #ddd5d5;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 3px 1px;
}

.pharmacy-d-image-right-bottom {
    width: 50%;
    background: beige;
}

.pharmacy-d-image-right-top {
    width: 100%;
    background: blue;
}

.pharmacy-d-image-right {
    width: 40%;
    background: radial-gradient(black, transparent);
    display: flex;
    flex-wrap: wrap;
}

.pharmacy-d-image-left {
    width: 60%;
    background: rebeccapurple;
}

.image-wrap {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.pharmacy-d-image {
    /* display: none; */
    /* visibility: hidden; */
    height: 100%;
    width: 100%;
    border: solid gray;
    box-sizing: border-box;
}

pharmacy-d-image {
    position: relative;
}

.pharmacy-d-image-list {width: 100%;display: flex;}

.pharmacy-d-detail-content {
    max-width: 1280px;
    margin: auto;
}

*, :after, :before, body {
    max-width: 100vw;
    margin: 0;
}

section.right {
    width: 20%;
}

section.center {
    width: 60%;
}

section.left {
    width: 20%;
}

.pharmacy-d-review {
    display: flex;
}

.pharmacy-d-intro-content {
    margin-top: auto;
    margin-bottom: auto;
}

.pharmacy-d-intro-content h1 {
    margin: 10px 0px;
}

.pharmacy-d-avatar {
    display: flex;
    width: 20%;
    /* border-radius: 50%; */
}

.pharmacy-d-avatar img {
    width: 50%;
    margin: auto;
    border-radius: 50%;
}

.pharmacy-d-intro {
    width: 100%;
    display: flex;
    padding: 10px 0px;
    background: linear-gradient(
        0deg
        , #9acdcb, rgba(255, 255, 255, 0.7529411765));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}